body{
    background-color: yellow;
}

h1{
    background-color: blue;
    color: red;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

p{
    background-color: black;
    color: white;
    width: 300px;
    padding: 20px;
    box-sizing: content-box;
}
