*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(0 94 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 40px;
    
}

.logo{
    font-size: 33px;
    font-weight: 500px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 20px 40px;
}

.button{
    background-color: rgba(255, 183, 0, 0.8);
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
}